<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:insert="index::style">
    <link rel="stylesheet" type="text/css" href="../static/css/addPackForm.css" th:href="@{/css/addPackForm.css}" >

</head>
<body>
<div th:insert="index::header"/>
<div>
    <form class="form" th:action="@{/pack/add}" method="post" th:object="${packEntity}" >
        <h1 class="form_title">Create pack</h1>

        <input class="form_input" type="text" th:field="*{name}" placeholder= "Enter pack's name" >
        <br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        <textarea class="form_textarea" th:field="*{description}" placeholder= "Enter description"/>
        <br>
        <label class="form_title" for="firstLn">Enter first language:</label>
        <select th:field="*{first_ln}" id="firstLn">
            <option value="ru">Russian</option>
            <option value="en">English</option>
            <option value="ua">Ukrainian</option>
        </select><br><br>
        <p th:if="${#fields.hasErrors('first_ln')}" th:errors="*{first_ln}"/>
        <label class="form_title" for="secondLn">Enter second language:</label>
        <select th:field="*{second_ln}" id="secondLn">
            <option value="ru">Russian </option>
            <option value="en">English</option>
            <option value="ua">Ukrainian</option>
        </select>
        <br><br>
        <p th:if="${#fields.hasErrors('second_ln')}" th:errors="*{second_ln}"/>
        <label th:for="*{type}" th:text="private"/>
        <input type="radio" th:field="*{type}" th:value="private">
        <label th:for="*{type}" th:text="public"/>
        <input type="radio" th:field="*{type}" th:value="public">
        <br>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"/>
        <button type="submit" class="form_button" name="add_pack">Add pack</button>
    </form>
</div>
</body>
</html>