<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add words</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c0c3d5a6d0.js" crossorigin="anonymous"></script>
    <link th:insert="index::style">
</head>
<body>
<div th:insert="index::header"/>

<div class="container">
    <div th:insert="view-pack::pack-stats"/>

    <form class="pack-container-general-content" th:action="@{/pack/{id}/edit(id=${pack.id})}" method="post">
        <div class="pack-general-editable">
            <div class="pack-general-content">
                <input type="text" th:value="${pack.name}" placeholder="Name" name="name"/>
                <br/>
                <textarea name="description" th:text="${pack.description} " placeholder="Description"/>
            </div>
            <div class="pack-logo-edit"><button type="submit" name="save_general" class="fa fa-check-circle-o" style="font-size:22px;color: black; text-decoration: none;"></button></div>
            <div class="pack-type">
                <div class="box">
                    <select name="type" id="secondLn">
                        <option th:selected="${pack.type == 'public'}? 'selected'" value="public">public </option>
                        <option th:selected="${pack.type == 'private'}? 'selected'" value="private">private</option>
                    </select>
                </div>

            </div>
            <p class="pack-type-down-logo"></p>
        </div>
    </form>

    <div th:insert="view-pack::ln-general"/>
    <div th:insert="view-pack::wordlist"/>
</div>
</body>