<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta  content="text/html; charset=UTF-8" />
    <th:block th:insert="re-index::metadata"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c0c3d5a6d0.js" crossorigin="anonymous"></script>

</head>
<body>
<script th:inline="javascript">

    let referrer = document.referrer;
    let url = document.URL;

    $(document).ready(function () {
        $('.grey-header-container').addClass('animate__fadeIn');
        $('.pack-container,#wordlist-container,.extra-info-block,.main-info-block,.button-container').addClass('animate__fadeIn');
        $('a,button').on('click', function () {
            $('.section,.div-block-14,.pack-container,#header').addClass('animate__fadeOut');
        });
    });

</script>
<div th:insert="re-index::header"/>
<div class="div-block-14 animate__animated fadeInDown"></div>

<div class="section animate__animated">

    <form th:action="@{/pack/{id}/edit(id=${pack.id})}" method="post" class="pack-container animate__animated">
        <div class="extra-info animate__animated">
            <div class="extra-info-block animate__animated">
                <div class="hits">author:</div>
                <div th:text="${pack.user.getUsername()}" class="meta-info"/>
            </div>
            <div class="extra-info-block animate__animated">
                <div class="hits">language:</div>
                <div class="div-block-20">
                    <select id="firstLn" name="firstLn" class="liststyle w-select">
                        <option th:selected="${pack.first_ln == 'ru'}? 'selected'" value="ru">ru</option>
                        <option th:selected="${pack.first_ln == 'en'}? 'selected'" value="en" >en</option>
                        <option th:selected="${pack.first_ln == 'uk'}? 'selected'" value="uk">uk</option>
                    </select>

                    <div class="text-block-12"> - </div>


                    <select id="secondLn" name="secondLn" class="liststyle w-select">
                        <option th:selected="${pack.second_ln == 'ru'}? 'selected'" value="ru">ru</option>
                        <option th:selected="${pack.second_ln == 'en'}? 'selected'" value="en" >en</option>
                        <option th:selected="${pack.second_ln == 'uk'}? 'selected'" value="uk">uk</option>
                    </select>
                </div>
            </div>
            <div class="extra-info-block animate__animated">
                <div class="hits">type:</div>
                <select id="type" name="type" class="liststyle-type w-select">
                    <option th:selected="${pack.type == 'private'}? 'selected'" value="private">private</option>
                    <option th:selected="${pack.type == 'public'}? 'selected'" value="public">public</option>
                </select>
            </div>
            <a th:classappend="${favorite} ? liked-button" th:text="${favorite} ? 'Liked':'Like'"
               th:href="${favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"
               class="w-button like animate__animated"/>
        </div>
        <div class="main-info animate__animated">
            <div>
                <div class="hits">name:</div>
                <input type="text" th:value="${pack.name}" class="name-input w-input" maxlength="256" name="name" id="name-input-2" />
            </div>
            <div>
                <div class="hits">description:</div>
                <textarea name="description"  class="description-input w-input"
                          th:text="${pack.description}"></textarea>
            </div>

            <div class="button-container animate__animated">
                <a class="w-button like-hidden" th:classappend="${favorite} ? liked-button" th:text="${favorite} ? 'Liked':'Like'"
                   th:href="${favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"/>
                <a th:href="@{/pack/{id}/delete(id=${pack.id})}" class="delete w-button">Delete</a>
                <a th:href="@{/pack/{id}/train(id=${pack.id})}" class="train w-button">Train</a>
                <button name="save_general" type="submit" class="save w-button">Save</button>
            </div>
        </div>

    </form>


    <div th:fragment="wordlist" id="wordlist-container" class="wordlist-container animate__animated" th:styleappend="${pack.wordList.words.size()==0}?'padding:0;'">
        <div th:classappend="${isEditable!=true} ? 'banned'" id="input-container" class="input-container animate__animated">
            <div class="form-block w-form">
                <form th:action="'/pack/'+${pack.id}" method="post" class="form">
                    <button id="add"name="add" type="submit" class="add w-button1 animate__animated">Add</button>
                    <input th:placeholder="${pack.first_ln}" type="text" name="key" th:value="${key}" class="input w-input animate__animated"  >
                    <input th:placeholder="${pack.second_ln}" type="text" name="value" th:value="${value}" class="input w-input animate__animated">
                    <button id="translate" name="translate" type="submit"  class=" translate w-button1 animate__animated">Translate</button>
                    <span style="padding: 5px" class="translate-icon w-button1">
                           <button name="translate" type="submit"  class="fas fa-language animate__animated " style="font-size:27px;width:100%; background: transparent; text-align: center;"></button>
                        </span>


                </form>
            </div>
        </div>
        <div th:each="word:${pack.wordList.words}" >
            <div th:classappend="${wordStat.last} ? 'last':''"
                 th:styleappend="${pack.wordList.words.size()==0}?'padding:0;'"
                 class="words animate__animated">
                <div id="counter" th:text="${wordStat.index+1}" class="counter"/>
                <div id="key" class="word animate__animated" th:text="${word.key}"/>
                <div id="value" class="word animate__animated" th:text="${word.value}"/>
                <a id="remove" class="remove w-button animate__animated"
                   th:href="@{/pack/{id}/remove/{index}(id=${pack.id},index=${wordStat.index})}"
                   th:classappend="${isEditable!=true} ? 'banned'">Remove</a>
                <span style="padding: 10px" th:classappend="${isEditable!=true} ? 'banned'"
                      class="remove-icon w-button1 ">
                <a th:href="@{/pack/{id}/remove/{index}(id=${pack.id},index=${wordStat.index})}"
                   style="font-size:18px;width:100%; background: transparent; text-align: center; color: white"
                   class="fas fa-trash-alt"></a>
            </span>
            </div>
        </div>
    </div>

</div>

</body>