<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:insert="re-index::metadata"/>
</head>
<body>
    <div th:insert="re-index::header"/>
    <div class="container-3 w-container"><a href="/pack/all" id="w-node-5aeb6d493ac4-4be75e1e"
                                            class="button-2 w-button">Train</a></div>
</body>
</html>