<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <th:block th:insert="index::metadata"/>
</head>
<body>
    <div th:insert="index::header"/>
    <div class="about-project">
        <h1>About Project</h1>
    </div>
    <div class="home">

        <div class="wat-for-container">
            <div class="first-container">
                <h2>What for?</h2>
            </div>
            <div class="second-container">
            <p>This is a platform for learning foreign words or sentences. You can create your own pack of words or use packs from other users</p>
            </div>
        </div>
        <div class="wat-for-container">

            <div class="first-container order2">
                <h2 >Technologies used</h2>
            </div>
            <div   class="second-container order1">
                <p>This is spring boot application. For template engine I used thymeleaf. To be able to have an account, I used spring security. For database management I used spring data. For database management system I used mysql. For translate api I used google cloud translate. <a href="https://github.com/Gobsex/pack-wordbook">Link to github</a></p>

            </div>
        </div>
    </div>
</body>
</html>