<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:fragment="style" rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div th:fragment="header" class="site-header" >
        <div></div>
        <div class="item">
            <a class="link" href="/search">Search</a>
        </div>
        <div class="item">
            <a class="link" href="/pack/all">Packs</a>
        </div>
        <div class="item">
            <a class="link" href="/about">About</a>
        </div>
        <div></div>
        <div class="item">
            <a id="account" th:href="account" class="fa fa-user-circle" style="font-size:25px;color: gray; text-decoration: none;"></a>
        </div>
        <div></div>

    </div>
</body>
</html>