<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:insert="re-index::style"/>
</head>

<body>

<div class="form-container">
    <form th:action="@{/login}" method="post" class="login-form">
        <h1 class="form_title">Login</h1><br/>

        <div class="form_group">
            <input placeholder="Username" class="form_input" type="text" name="username" required/>
        </div>
        <div class="form_group">
            <input placeholder="Password" class="form_input" type="password" name="password" required/>
        </div>
        <div class="form-error" th:if="${error}">Invalid password or username</div>

        <input class="form_button" type="submit" value="Login"/>
        <div class="form-hits">Don't have account?
            <div><a href="/registration">Sing up</a></div>
        </div>
    </form>
</div>
</body>
</html>