<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<head>
    <title>Packs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:insert="re-index::metadata"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c0c3d5a6d0.js" crossorigin="anonymous"></script>

</head>
<body>
<script th:inline="javascript">

    let referrer = document.referrer;
    let url = document.URL;

    $(document).ready(function () {
        $('.grey-header-container,.tabs-container,#noPacks,.extra-info-block,.main-info-block,.button-container').addClass('animate__fadeIn');
        $('.pack-container').addClass('animate__fadeInLeft');
        $('a').on('click', function () {
            $('.section,.grey-header-container,.pack-container,#header').addClass('animate__fadeOut');
        });
    });

</script>
<div th:insert="re-index::header"/>


<div class="grey-header-container animate__animated   ">
    <div class="tabs-container animate__animated">
        <div>
            <a href="/pack/all" class="tabs liked-tab w-button" th:classappend="${isAll} ? selected:''">Liked</a>
            <a href="/pack/public" class="tabs public w-button" th:classappend="${isPublic} ? selected:''">Public</a>
            <a  href="/pack/private" class="tabs private w-button" th:classappend="${isPrivate} ? selected:''">Private</a>
        </div>
        <a  href="/pack/add" class="w-button add-pack">Add</a>
    </div>
</div>
<div class="section animate__animated">
    <h5 id="noPacks" th:if="${packs.size()==0}" class="animate__animated ">no packs</h5>

    <div th:each="pack:${packs}" id="pack-container" class="pack-container animate__animated ">
        <div class="extra-info">
            <div class="extra-info-block animate__animated">
                <div class="hits ">author:</div>
                <div th:text="${pack.user.getUsername()}" class="meta-info "/>
            </div>
            <div class="extra-info-block animate__animated">
                <div class="hits ">language:</div>
                <div class="meta-info " th:text="${pack.first_ln}+' - '+${pack.second_ln}"/>
            </div>
            <div class="extra-info-block animate__animated">
                <div class="hits ">type:</div>
                <div class="meta-info " th:text="${pack.type}"/>
            </div>

            <a id="like" th:classappend="${pack.favorite} ? liked-button" th:text="${pack.favorite} ? 'Liked':'Like'"
               th:href="${pack.favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"
               class="w-button like "/>
        </div>
        <div class="main-info">
            <div class="main-info-block animate__animated">
                <div class="hits">name:</div>
                <div th:text="${pack.name}" class="pack-name"/>
            </div >
            <div class="main-info-block animate__animated">
                <div th:classappend="${pack.description==''}? 'hidden'" class="hits">description:</div>
                <div class="pack-description" th:text="${pack.description}"/>
            </div>

            <div class="button-container animate__animated ">
                <a id="like-hidden" class="w-button like-hidden" th:classappend="${pack.favorite} ? liked-button" th:text="${pack.favorite} ? 'Liked':'Like'"
                   th:href="${pack.favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"/>
                <a th:classappend="${pack.isEditable()!=true}?'banned'" th:href="@{/pack/{id}/delete(id=${pack.id})}" id="delete" class="delete w-button">Delete</a>
                <a th:href="@{/pack/{id}/train(id=${pack.id})}" id="train" class="train w-button next-page">Train</a>
                <a th:href="@{/pack/{id}(id=${pack.id})}" id="view" class="view w-button next-page">View</a>
            </div>
        </div>

    </div>


</div>

</body>
</html>