<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>

        <link th:insert="index::style">
</head>

<body>

<div class="form-container">
    <form th:action="@{/registration}" method="post" class="login-form" th:object="${userForm}">
        <h1 class="form_title">Sign up</h1><br/>
        <div class="form_group">
            <input class="form_input" type="text" placeholder="Username" th:field="*{username}"/>
            <p class="form-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Enter username</p>
            <p class="form-error" th:if="${usernameError}">Username is already taken</p>
        </div>
        <div class="form_group">
            <input class="form_input" type="password" placeholder="Password" th:field="*{password}"/>
            <p class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Enter password</p>


        </div>
        <div class="form_group" style="margin-bottom: 10px">
            <input class="form_input" type="password" placeholder="Confirm password" th:field="*{passwordConfirm}"/>
            <p class="form-error" th:if="${passwordError}">Passwords do not match</p>
            <p class="form-error" th:if="${emptyError}">Empty field</p>

        </div>
        <button class="form_button" type="submit" style="width: 140px" value="Sign Up">Sign up</button>
        <div class="form-hits">Already have account?
            <div><a href="/login">Login</a></div>
        </div>

    </form>
</div>
</body>
</html>