<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:insert="re-index::metadata"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<script th:inline="javascript">

    let referrer = document.referrer;
    let url = document.URL;

    $(document).ready(function () {
        $('.pack-container').addClass('animate__fadeInLeft');
        $('.extra-info-block,.main-info-block,.button-container').addClass('animate__fadeIn');
        $('a,button').on('click', function () {
            $('.section,.pack-container,#header').addClass('animate__fadeOut');
        });
    });

</script>
    <div th:insert="re-index::header"/>
    <div class="section animate__animated">
        <h5 th:if="${packs.size()==0}">no packs</h5>

        <div th:each="pack:${packs}" class="pack-container animate__animated">
            <div class="extra-info animate__animated">
                <div class="extra-info-block animate__animated">
                    <div class="hits">author:</div>
                    <div th:text="${pack.user.getUsername()}" class="meta-info"/>
                </div>
                <div class="extra-info-block animate__animated">
                    <div class="hits">language:</div>
                    <div class="meta-info" th:text="${pack.first_ln}+' - '+${pack.second_ln}"/>
                </div>
                <div class="extra-info-block animate__animated">
                    <div class="hits">type:</div>
                    <div class="meta-info" th:text="${pack.type}"/>
                </div>

                <a id="like" th:classappend="${pack.favorite} ? liked-button" th:text="${pack.favorite} ? 'Liked':'Like'"
                   th:href="${pack.favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"
                   class="w-button like animate__animated"/>
            </div>
            <div class="main-info animate__animated">
                <div class="main-info-block animate__animated">
                    <div class="hits">name:</div>
                    <div th:text="${pack.name}" class="pack-name"/>
                </div>
                <div class="main-info-block animate__animated">
                    <div th:classappend="${pack.description==''}? 'hidden'" class="hits">description:</div>
                    <div class="pack-description" th:text="${pack.description}"/>
                </div>

                <div class="button-container animate__animated">
                    <a class="w-button like-hidden" id="like-hidden" th:classappend="${pack.favorite} ? liked-button" th:text="${pack.favorite} ? 'Liked':'Like'"
                       th:href="${pack.favorite} ? @{/pack/{id}/fromFavorites(id=${pack.id})}:@{/pack/{id}/toFavorites(id=${pack.id})}"/>
                    <a th:href="@{/pack/{id}/delete(id=${pack.id})}" class="delete w-button">Delete</a>
                    <a th:href="@{/pack/{id}/train(id=${pack.id})}" class="train w-button">Train</a>
                    <a th:href="@{/pack/{id}(id=${pack.id})}" class="view w-button">View</a>
                </div>
            </div>

        </div>
    </div>

</body>