<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="index::metadata"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c0c3d5a6d0.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>
<body>
<div th:insert="index::header"/>
<div class="section">

    <div id="mode" class="mode-container animate__animated animate__fadeIn">
        <div class="text-block-13">Train mode</div>
        <div id="default" th:text="${pack.first_ln}+'->'+${pack.second_ln}" class="mode"/>
        <div id="backward" th:text="${pack.second_ln}+'->'+${pack.first_ln}" class="mode"/>
        <div id="random" th:text="random" class="mode"/>
    </div>







    <div id="train" class="hidden animate__animated ">

        <div class="div-block-28">
            <div id="timer" class="div-block-29">00:00</div>
            <div id="name" th:text="${pack.name}" class="div-block-33"/>
            <div class="div-block-30">
                <div id="rigth" class="div-block-31">0</div>
                <div id="wrong" class="div-block-32">0</div>
            </div>
        </div>
        <div class="train-contaiter">
            <div id="word-container" class="div-block-25">
                <div id="word" class="neutral-1"></div>
                <div id="state" class="neutral-2"></div>
            </div>
            <div class="anser-container">
                <div class="form-block-5 w-form">
                    <input type="text" class="text-field-5 w-input" placeholder="Translate" id="translate" required=""/>
                </div>
                <button id="newWord" class="check w-button">Check</button>

            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var seconds = 0;
    var minutes = 0;
    var defaultM,backward,random=false;
    var right = 0;
    var wrong = 0;
    var words = [[${pack.getWordList().getWords()}]];
    var value;
    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
    }

    function getValue(words) {
        let number = parseInt(getRandomArbitrary(0, words.length));
        let value,key;
        if (defaultM) {
            value = words[number].value;
            key = words[number].key;
        }
        else if (backward){
            value = words[number].key;
            key = words[number].value;
        }
        else if(random){
            let rand = parseInt(getRandomArbitrary(0, 2));
            if (rand==0){
                console.log()
                value = words[number].key;
                key = words[number].value;
            }
            else if(rand==1){
                value = words[number].value;
                key = words[number].key;
            }

        }
        $('#word').text(key);

        return value;
    }


    $(document).ready(function () {


        $('#default').on('click',function (){
            defaultM = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden').addClass("animate__fadeIn");

            value = getValue(words);
            setInterval(tik, 1000);
        })
        $('#backward').on('click',function (){
            backward = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden');
            value = getValue(words);
            setInterval(tik, 1000);
        })
        $('#random').on('click',function (){
            random = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden');
            value = getValue(words);
            setInterval(tik, 1000);
        })


        $('#newWord').on('click', function () {
            if ($('#word-container').attr('class') == 'div-block-25 incorrect') {
                clear();
            } else {
                if ($('#translate').val().toUpperCase() == value.toUpperCase()) {

                    right++;
                    $('#word-container').addClass('correct');
                    $('#state').text('Correct');

                    setTimeout(clear, 700);
                    $('#rigth').text(right);

                } else {
                    wrong++;

                    $('#word').text(value);
                    $('#word-container').addClass('incorrect');
                    $('#state').text('Incorrect');

                    $('#newWord').text('Next');

                    $('#wrong').text(wrong);
                }
            }
        })

        function tik() {

            seconds++;
            var min = minutes.toString();
            var sec = seconds.toString();

            if (seconds == 60) {
                minutes++;
                seconds = 0;
            }
            if (seconds / 10 < 1) {
                sec = '0' + sec;
            }
            if (minutes / 10 < 1) {
                min = '0' + min;
            }
            $('#timer').text(min + ':' + sec);
        }

        function clear() {
            $('#translate').val("");
            $('#correct').text("");
            $('#word-container').removeClass('incorrect');
            $('#word-container').removeClass('correct');

            $('#newWord').text('Check');
            $('#translate').focus();
            $('#state').text("");
            value = getValue(words);
        }
    });
</script>

</body>
