<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="index::style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c0c3d5a6d0.js" crossorigin="anonymous"></script>
    <!--    <script src="../js/jquery-3.5.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>
<body>
<div th:insert="index::header"/>
<div class="train-container">

    <div id="mode">
        <div class="mode" id="default" th:text="${pack.first_ln}+'->'+${pack.second_ln}"/>
        <div class="mode" id="backward" th:text="${pack.second_ln}+'->'+${pack.first_ln}"/>
        <div class="mode" id="random" th:text="Random"/>


    </div>
    <div id="train" class="hidden">
        <div class="train-pack-name" id="name" th:text="${pack.name}"></div>

        <div class="train-top-container">
            <div class="train-timer" id="timer">00:00</div>
            <div></div>
            <div class="train-rigth-counter" id="rigth">0</div>
            <div class="train-wrong-counter" id="wrong">0</div>
            <div></div>

            <div class="train-check">
                <button class="fa fa-play"
                        style="font-size:20px;color: black; text-decoration: none;" id="newWord"></button>
            </div>

        </div>
        <div id="correct"></div>
        <div class="train-word-neutral" id="word-container"><span id="icon-correct"
                                                                  style="font-size:20px;color: black; text-decoration: none;transition: 0.6s;"> </span><span
                id="word" style="text-align: center"></span></div>
        <div class="train-translate"><input id="translate"></div>
    </div>
</div>


<script th:inline="javascript">
    var seconds = 0;
    var minutes = 0;
    var defaultM,backward,random=false;
    var right = 0;
    var wrong = 0;
    var words = [[${pack.getWordList().getWords()}]];
    var value;
    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
    }

    function getValue(words) {
        let number = parseInt(getRandomArbitrary(0, words.length));
        let value,key;
        if (defaultM) {
            value = words[number].value;
            key = words[number].key;
        }
        else if (backward){
            value = words[number].key;
            key = words[number].value;
        }
        else if(random){
            let rand = parseInt(getRandomArbitrary(0, 2));
            if (rand==0){
                console.log()
                value = words[number].key;
                key = words[number].value;
            }
            else if(rand==1){
                value = words[number].value;
                key = words[number].key;
            }

        }
        $('#word').text(key);

        return value;
    }


    $(document).ready(function () {


        $('#default').on('click',function (){
            defaultM = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden');
            value = getValue(words);
            setInterval(tik, 1000);
        })
        $('#backward').on('click',function (){
            backward = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden');
            value = getValue(words);
            setInterval(tik, 1000);
        })
        $('#random').on('click',function (){
            random = true;
            $('#mode').toggleClass('hidden');
            $('#train').toggleClass('hidden');
            value = getValue(words);
            setInterval(tik, 1000);
        })


        $('#newWord').on('click', function () {
            if ($('#newWord').attr('class') == 'fa fa-arrow-right') {
                clear();
            } else {
                if ($('#translate').val().toUpperCase() == value.toUpperCase()) {

                    right++;
                    $('#rigth').text(right);
                    $('#word-container').removeClass('train-word-neutral');
                    $('#word-container').addClass('train-word-correct');
                    $('#icon-correct').addClass('fa fa-check');
                    $('#icon-correct').addClass('icon-correct');

                    setTimeout(clear, 700);
                } else {
                    wrong++;

                    $('#word').text(value);
                    $('#word-container').removeClass('train-word-neutral');
                    $('#word-container').addClass('train-word-wrong');
                    $('#newWord').removeClass('fa fa-play')
                    $('#newWord').addClass('fa fa-arrow-right')
                    $('#icon-correct').addClass('fa fa-times-circle-o');
                    $('#icon-correct').addClass('icon-correct');

                    $('#wrong').text(wrong);
                }
            }
            // $('#word').text((parseInt(getRandomArbitrary(0,10))));
        })

        function tik() {

            seconds++;
            var min = minutes.toString();
            var sec = seconds.toString();

            if (seconds == 60) {
                minutes++;
                seconds = 0;
            }
            if (seconds / 10 < 1) {
                sec = '0' + sec;
            }
            if (minutes / 10 < 1) {
                min = '0' + min;
            }
            $('#timer').text(min + ':' + sec);
        }

        function clear() {
            $('#translate').val("");
            $('#correct').text("");
            $('#word-container').removeClass();
            $('#word-container').addClass('train-word-neutral');
            $('#newWord').removeClass('fa fa-arrow-right')
            $('#translate').focus();
            $('#icon-correct').removeClass();
            $('#newWord').addClass('fa fa-play')
            value = getValue(words);
        }
    });
</script>
</div>
</body>
