<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:insert="index::style">
</head>
<body>
<div th:insert="index::header"/>
<h1 style="text-align:center" class="masthead-brand">Pack</h1>
    <div style="text-align:center">
        <p th:text="${pack.name}"/>
        <p th:text="${pack.first_ln}"/>
        <p th:text="${pack.second_ln}"/>
        <p th:text="${pack.type}"/>
        <div th:each="word:${pack.getWordList().getWords()}">
            <p th:text="${word.key}+'     '+${word.value}"/>
        </div>
    </div>
</body>
</html>